


.font-name{
    font-family: 'Open Sans';
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 175%;
letter-spacing: 0.04em;
}
.vertical{
    text-orientation: mixed; writing-mode: vertical-lr;
  
 }

 .border{
 
    border: 2px solid red;
 }
 .cover{
   
    object-fit: contain;
 }
 .blurs{
    box-shadow: -1px 8px 25px 0px rgba(18,7,64,1);
 }
 .form{
    backdrop-filter: blur(8px);
    box-shadow: 2px 12px 60px 0px rgba(18,7,64,1);
 }
 ::placeholder{
    text-align: center;
    color: white;
 }
 .input1:focus {
    color: white;
    text-align: center;
}